:root{

--bg-main:#0b0f1a;
--bg-glass:rgba(255,255,255,0.08);

--text-main:#ffffff;
--text-muted:#b8c0da;

--accent:#4da3ff;

--space-sm:0.5rem;
--space-md:1rem;
--space-lg:2rem;
--space-xl:4rem;

--radius:0.6rem;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Inter",sans-serif;
background:var(--bg-main);
color:var(--text-main);

}


/* CONTAINER */

.container{

width:90%;
max-width:1100px;
margin:auto;

}


/* NAVBAR (DAY2)  */

.site-header{

position:sticky;
top:0;
z-index:10;

backdrop-filter:blur(12px);
background:var(--bg-glass);

border-bottom:1px solid rgba(255,255,255,0.1);

}

.nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:1rem 0;

}

.logo{

font-weight:700;

}

.nav-menu{

display:flex;
gap:2rem;

list-style:none;

}

.nav-menu a{

text-decoration:none;
color:var(--text-main);

}

.nav-toggle{

display:none;
flex-direction:column;
gap:5px;
background:none;
border:none;
cursor:pointer;

}

.nav-toggle span{

width:25px;
height:3px;
background:white;

}


/* HERO */

.hero{

min-height:90dvh;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

}

.hero-content{

max-width:60ch;

display:flex;
flex-direction:column;
gap:1rem;

}

.hero h1{

font-size:clamp(2rem,5vw,4rem);

}

.hero p{

color:var(--text-muted);

}

.btn-primary{

background:var(--accent);
color:white;

padding:0.8em 1.6em;

border-radius:var(--radius);

text-decoration:none;

width:max-content;
margin:auto;

}


/* GRID (DAY3) */

.about{

padding:4rem 0;

}

.about h2{

text-align:center;
margin-bottom:2rem;

}

.grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:1rem;

}

.tile{

background:rgba(255,255,255,0.05);

padding:1.5rem;

border-radius:var(--radius);

}

.bio{

grid-column:span 2;
grid-row:span 2;

}

.tech{

grid-column:span 2;

}

.small{

grid-column:span 1;

}


/* ================= PROJECTS (DAY4) ================= */

.projects{

padding:4rem 0;

}

.projects h2{

text-align:center;
margin-bottom:2rem;

}

.project-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:1.5rem;

}

.project-card{

background:rgba(255,255,255,0.05);
border-radius:var(--radius);
overflow:hidden;
transition:0.3s;

}

.project-card img{

width:100%;
height:180px;
object-fit:cover;

}

.project-info{

padding:1rem;

}

.tags{

margin-top:10px;

}

.tags span{

background:rgba(255,255,255,0.1);
padding:5px 10px;
border-radius:20px;
font-size:12px;
margin-right:5px;

}

.project-card:hover{

transform:translateY(-6px);

}


/* MOBILE */

@media (max-width:768px){

.nav-menu{

position:absolute;
top:70px;
right:0;

flex-direction:column;

background:#111;
width:200px;

padding:2rem;

display:none;

}

.nav-menu.active{
display:flex;
}

.nav-toggle{
display:flex;
}

.grid{

grid-template-columns:1fr;

}

}
